input[type="checkbox"] {
	margin: 0;
	vertical-align: bottom;
}

select,
textarea {
	

	&.Focused {
		
	}
}
select,
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	font: $MAIN_FONT_FAMILY;
	@include box-sizing(border-box);
}

textarea {
	max-width: 100%;
}

.Disabled,
[disabled] {
	
}