// @required ui/icons

@include load-font("Entypo", "icons/entypo");

.Entypo {
	font-family: "Entypo";

	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	//text-rendering: optimizelegibility;


	&.Plus:before{content:"\e813"}
	&.Minus:before{content:"\e816"}
	&.Info:before{content:"\e81b"}
	&.LeftThin:before{content:"\e88b"}
	&.UpThin:before{content:"\e88d"}
	&.RightThin:before{content:"\e88c"}
	&.DownThin:before{content:"\e87e"}
	&.LevelUp:before{content:"\e892"}
	&.LevelDown:before{content:"\e891"}
	&.Switch:before{content:"\e895"}
	&.Infinity:before{content:"\e8c1"}
	&.PlusSquared:before{content:"\e815"}
	&.MinusSquared:before{content:"\e818"}
	&.Home:before{content:"\e81e"}
	&.Keyboard:before{content:"\e835"}
	&.Erase:before{content:"\e8c2"}
	&.Pause:before{content:"\e898"}
	&.FastForward:before{content:"\e89c"}
	&.FastBackward:before{content:"\e89d"}
	&.ToEnd:before{content:"\e89a"}
	&.ToStart:before{content:"\e89b"}
	&.Hourglass:before{content:"\e85a"}
	&.Stop:before{content:"\e897"}
	&.UpDir:before{content:"\e879"}
	&.Play:before{content:"\e896"}
	&.RightDir:before{content:"\e878"}
	&.DownDir:before{content:"\e876"}
	&.LeftDir:before{content:"\e877"}
	&.Adjust:before{content:"\e85c"}
	&.Cloud:before{content:"\e8b1"}
	&.Star:before{content:"\e807"}
	&.StarEmpty:before{content:"\e808"}
	&.Cup:before{content:"\e83f"}
	&.Menu:before{content:"\e810"}
	&.Moon:before{content:"\e8b4"}
	&.HeartEmpty:before{content:"\e806"}
	&.Heart:before{content:"\e805"}
	&.Note:before{content:"\e800"}
	&.NoteBeamed:before{content:"\e801"}
	&.Layout:before{content:"\e80f"}
	&.Flag:before{content:"\e825"}
	&.Tools:before{content:"\e84d"}
	&.Cog:before{content:"\e84c"}
	&.Attention:before{content:"\e837"}
	&.Flash:before{content:"\e8b3"}
	&.Record:before{content:"\e899"}
	&.CloudThunder:before{content:"\e8b2"}
	&.Tape:before{content:"\e8c7"}
	&.Flight:before{content:"\e8b5"}
	&.Mail:before{content:"\e804"}
	&.Pencil:before{content:"\e831"}
	&.Feather:before{content:"\e832"}
	&.Check:before{content:"\e811"}
	&.Cancel:before{content:"\e812"}
	&.CancelCircled:before{content:"\e87f"}
	&.CancelSquared:before{content:"\e880"}
	&.Help:before{content:"\e819"}
	&.Quote:before{content:"\e82e"}
	&.PlusCircled:before{content:"\e814"}
	&.MinusCircled:before{content:"\e817"}
	&.Right:before{content:"\e874"}
	&.Direction:before{content:"\e83d"}
	&.Forward:before{content:"\e82d"}
	&.Ccw:before{content:"\e88e"}
	&.Cw:before{content:"\e88f"}
	&.Left:before{content:"\e873"}
	&.Up:before{content:"\e875"}
	&.Down:before{content:"\e872"}
	&.ListAdd:before{content:"\e8a5"}
	&.List:before{content:"\e8a4"}
	&.LeftBold:before{content:"\e87b"}
	&.RightBold:before{content:"\e87c"}
	&.UpBold:before{content:"\e87d"}
	&.DownBold:before{content:"\e87a"}
	&.UserAdd:before{content:"\e80b"}
	&.HelpCircled:before{content:"\e81a"}
	&.InfoCircled:before{content:"\e81c"}
	&.Eye:before{content:"\e823"}
	&.Tag:before{content:"\e824"}
	&.UploadCloud:before{content:"\e82a"}
	&.Reply:before{content:"\e82b"}
	&.ReplyAll:before{content:"\e82c"}
	&.Code:before{content:"\e82f"}
	&.Export:before{content:"\e830"}
	&.Print:before{content:"\e833"}
	&.Retweet:before{content:"\e834"}
	&.Comment:before{content:"\e836"}
	&.Chat:before{content:"\e883"}
	&.Vcard:before{content:"\e839"}
	&.Address:before{content:"\e83a"}
	&.Location:before{content:"\e83b"}
	&.Map:before{content:"\e83c"}
	&.Compass:before{content:"\e83e"}
	&.Trash:before{content:"\e840"}
	&.Doc:before{content:"\e841"}
	&.DocTextInv:before{content:"\e845"}
	&.Docs:before{content:"\e842"}
	&.DocLandscape:before{content:"\e843"}
	&.Archive:before{content:"\e886"}
	&.Rss:before{content:"\e84a"}
	&.Share:before{content:"\e84e"}
	&.Basket:before{content:"\e850"}
	&.Shareable:before{content:"\e84f"}
	&.Login:before{content:"\e853"}
	&.Logout:before{content:"\e854"}
	&.Volume:before{content:"\e858"}
	&.ResizeFull:before{content:"\e85e"}
	&.ResizeSmall:before{content:"\e85f"}
	&.Popup:before{content:"\e860"}
	&.Publish:before{content:"\e861"}
	&.Window:before{content:"\e862"}
	&.ArrowCombo:before{content:"\e863"}
	&.ChartPie:before{content:"\e8c3"}
	&.Language:before{content:"\e8c9"}
	&.Air:before{content:"\e8cd"}
	&.Database:before{content:"\e8d2"}
	&.Drive:before{content:"\e8d3"}
	&.Bucket:before{content:"\e8d4"}
	&.Thermometer:before{content:"\e8d5"}
	&.DownCircled:before{content:"\e864"}
	&.LeftCircled:before{content:"\e865"}
	&.RightCircled:before{content:"\e866"}
	&.UpCircled:before{content:"\e867"}
	&.DownOpen:before{content:"\e868"}
	&.LeftOpen:before{content:"\e869"}
	&.RightOpen:before{content:"\e86a"}
	&.UpOpen:before{content:"\e86b"}
	&.DownOpenMini:before{content:"\e86c"}
	&.LeftOpenMini:before{content:"\e889"}
	&.RightOpenMini:before{content:"\e88a"}
	&.UpOpenMini:before{content:"\e86d"}
	&.DownOpenBig:before{content:"\e86e"}
	&.LeftOpenBig:before{content:"\e86f"}
	&.RightOpenBig:before{content:"\e870"}
	&.UpOpenBig:before{content:"\e871"}
	&.Progress0:before{content:"\e89e"}
	&.Progress1:before{content:"\e89f"}
	&.Progress2:before{content:"\e8a0"}
	&.Progress3:before{content:"\e8a1"}
	&.BackInTime:before{content:"\e8a9"}
	&.Network:before{content:"\e8ac"}
	&.Inbox:before{content:"\e8ae"}
	&.Install:before{content:"\e8af"}
	&.Lifebuoy:before{content:"\e8b8"}
	&.Mouse:before{content:"\e8b9"}
	&.Dot:before{content:"\e8bc"}
	&.Dot2:before{content:"\e8bd"}
	&.Dot3:before{content:"\e8be"}
	&.Suitcase:before{content:"\e8bb"}
	&.FlowCascade:before{content:"\e8d7"}
	&.FlowBranch:before{content:"\e8d8"}
	&.FlowTree:before{content:"\e8d9"}
	&.FlowLine:before{content:"\e8da"}
	&.FlowParallel:before{content:"\e8db"}
	&.Brush:before{content:"\e8bf"}
	&.PaperPlane:before{content:"\e8b6"}
	&.Magnet:before{content:"\e8c0"}
	&.Gauge:before{content:"\e8dd"}
	&.TrafficCone:before{content:"\e8de"}
	&.Cc:before{content:"\e8df"}
	&.CcBy:before{content:"\e8e0"}
	&.CcNc:before{content:"\e8e1"}
	&.CcNcEu:before{content:"\e8e2"}
	&.CcNcJp:before{content:"\e8e3"}
	&.CcSa:before{content:"\e8e4"}
	&.CcNd:before{content:"\e8e5"}
	&.CcPd:before{content:"\e8e6"}
	&.CcZero:before{content:"\e8e7"}
	&.CcShare:before{content:"\e8e8"}
	&.CcRemix:before{content:"\e8e9"}
	&.Github:before{content:"\e8ea"}
	&.GithubCircled:before{content:"\e8eb"}
	&.Flickr:before{content:"\e8ec"}
	&.FlickrCircled:before{content:"\e8ed"}
	&.Vimeo:before{content:"\e8ee"}
	&.VimeoCircled:before{content:"\e8ef"}
	&.Twitter:before{content:"\e8f0"}
	&.TwitterCircled:before{content:"\e8f1"}
	&.Facebook:before{content:"\e8f2"}
	&.FacebookCircled:before{content:"\e8f3"}
	&.FacebookSquared:before{content:"\e8f4"}
	&.Gplus:before{content:"\e8f5"}
	&.GplusCircled:before{content:"\e8f6"}
	&.Pinterest:before{content:"\e8f7"}
	&.PinterestCircled:before{content:"\e8f8"}
	&.Tumblr:before{content:"\e8f9"}
	&.TumblrCircled:before{content:"\e8fa"}
	&.Linkedin:before{content:"\e8fb"}
	&.LinkedinCircled:before{content:"\e8fc"}
	&.Dribbble:before{content:"\e8fd"}
	&.DribbbleCircled:before{content:"\e8fe"}
	&.Stumbleupon:before{content:"\e8ff"}
	&.StumbleuponCircled:before{content:"\e900"}
	&.Lastfm:before{content:"\e901"}
	&.LastfmCircled:before{content:"\e902"}
	&.Rdio:before{content:"\e903"}
	&.RdioCircled:before{content:"\e904"}
	&.Spotify:before{content:"\e905"}
	&.SpotifyCircled:before{content:"\e906"}
	&.Qq:before{content:"\e907"}
	&.Instagram:before{content:"\e908"}
	&.Dropbox:before{content:"\e909"}
	&.Evernote:before{content:"\e90a"}
	&.Flattr:before{content:"\e90b"}
	&.Skype:before{content:"\e90c"}
	&.SkypeCircled:before{content:"\e90d"}
	&.Renren:before{content:"\e90e"}
	&.SinaWeibo:before{content:"\e90f"}
	&.Paypal:before{content:"\e910"}
	&.Picasa:before{content:"\e911"}
	&.Soundcloud:before{content:"\e912"}
	&.Mixi:before{content:"\e913"}
	&.Behance:before{content:"\e914"}
	&.GoogleCircles:before{content:"\e915"}
	&.Vkontakte:before{content:"\e916"}
	&.Smashing:before{content:"\e917"}
	&.DbShape:before{content:"\e919"}
	&.Sweden:before{content:"\e918"}
	&.LogoDb:before{content:"\e91a"}
	&.Picture:before{content:"\e80d"}
	&.Globe:before{content:"\e8b0"}
	&.Leaf:before{content:"\e8b7"}
	&.GraduationCap:before{content:"\e8c8"}
	&.Mic:before{content:"\e855"}
	&.Palette:before{content:"\e8a3"}
	&.Ticket:before{content:"\e8ca"}
	&.Video:before{content:"\e80c"}
	&.Target:before{content:"\e8a2"}
	&.Trophy:before{content:"\e8a7"}
	&.ThumbsUp:before{content:"\e826"}
	&.ThumbsDown:before{content:"\e827"}
	&.Bag:before{content:"\e851"}
	&.User:before{content:"\e809"}
	&.Users:before{content:"\e80a"}
	&.Lamp:before{content:"\e887"}
	&.Alert:before{content:"\e838"}
	&.Water:before{content:"\e8cb"}
	&.Droplet:before{content:"\e8cc"}
	&.CreditCard:before{content:"\e8ce"}
	&.Monitor:before{content:"\e8aa"}
	&.Briefcase:before{content:"\e8ba"}
	&.Floppy:before{content:"\e8cf"}
	&.Cd:before{content:"\e8ad"}
	&.Folder:before{content:"\e885"}
	&.DocText:before{content:"\e844"}
	&.Calendar:before{content:"\e852"}
	&.ChartLine:before{content:"\e8c4"}
	&.ChartBar:before{content:"\e8c5"}
	&.Clipboard:before{content:"\e8d0"}
	&.Attach:before{content:"\e820"}
	&.Bookmarks:before{content:"\e882"}
	&.Book:before{content:"\e848"}
	&.BookOpen:before{content:"\e847"}
	&.Phone:before{content:"\e84b"}
	&.Megaphone:before{content:"\e8d1"}
	&.Upload:before{content:"\e829"}
	&.Download:before{content:"\e828"}
	&.Box:before{content:"\e849"}
	&.Newspaper:before{content:"\e846"}
	&.Mobile:before{content:"\e8ab"}
	&.Signal:before{content:"\e8a6"}
	&.Camera:before{content:"\e80e"}
	&.Shuffle:before{content:"\e893"}
	&.Loop:before{content:"\e894"}
	&.ArrowsCcw:before{content:"\e890"}
	&.LightDown:before{content:"\e888"}
	&.LightUp:before{content:"\e85b"}
	&.Mute:before{content:"\e856"}
	&.Sound:before{content:"\e857"}
	&.Battery:before{content:"\e8a8"}
	&.Search:before{content:"\e802"}
	&.Key:before{content:"\e8d6"}
	&.Lock:before{content:"\e821"}
	&.LockOpen:before{content:"\e822"}
	&.Bell:before{content:"\e884"}
	&.Bookmark:before{content:"\e881"}
	&.Link:before{content:"\e81f"}
	&.Back:before{content:"\e81d"}
	&.Flashlight:before{content:"\e803"}
	&.ChartArea:before{content:"\e8c6"}
	&.Clock:before{content:"\e859"}
	&.Rocket:before{content:"\e8dc"}
	&.Block:before{content:"\e85d"}

	&:before {
		width: 1em;
	}
}