// +public
@mixin opacity-hide ($transitions...) {
	opacity: 1;
	transition: opacity $ANIMATION_TIME, $transitions;

	&.Hidden {
		z-index: -999999;
		opacity: 0;
		transition: z-index 0s $ANIMATION_TIME, opacity $ANIMATION_TIME, $transitions;
	}
}
