// -private
$_sprite: "";
// -private
$_sprite-file: "";

// 		@include sprite-dir("<directory-without_", "<sprites-directory>"); // e.g. @include sprite-dir("icons"); is the same as @include sprite-dir("icons", "sprites");
//
//		element {
//			@include sprite-file("<file-without-extension>");
//
//          // if you need to move your sprite a little bit
//			@include sprite-background-position($_sprite, "<file-without-extension>", 100%, 0);
//		}
// +public
@mixin sprite-dir($name, $sprites-dir: $SPRITES_DIR) {
	$_sprite: sprite-map($sprites-dir + "/_"+$name+"/*.png") !global;
	$_sprite-file: image-url($sprites-dir, true, false) + "/" + $name + "-sprite.png" !global;

	$rendered-sprite: sprite-url($_sprite) no-repeat;
}

// +public
@mixin sprite-element($name) {
	background: url($_sprite-file) no-repeat;
	@include sprite($_sprite, $name, true);
}