@charset "utf-8";

@import "strap/__init"; // Very important STRAP's initializing

@import "strap/strap-lib/misc/_normalize";

// Other stuff
@import "strap/strap-lib/ui/_buttons";
@import "strap/strap-lib/ui/_controls";
@import "strap/strap-lib/ui/_forms";
@import "strap/strap-lib/ui/_grid";
@import "strap/strap-lib/ui/_typography";
@import "strap/strap-lib/ui/_helpers";
@import "strap/strap-lib/ui/_icons";
@import "strap/strap-lib/ui/_tables";


// You can import all theme
@import "strap/themes/strap-ui/_init";
// Or just some useful parts from theme
@import "strap/themes/strap-ui/ui/icons/_entypo";



html {
	min-height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;

	color: $TEXT_COLOR;
	font-family: $MAIN_FONT_FAMILY;
}

a {
	@include link-style($LINK_COLOR);

	&.Actions {
		@include unselectable;

		border-bottom: 1px dashed;
		cursor: default;
		text-decoration: none;
		line-height: 1.3em;

		&.Opened {
			border:none;
		}
	}
	&.Iconed {
		text-decoration: none;
		border: none;

		span {
			text-decoration: underline;
		}
	}
}

@include breakpoint(phone landscape) {
	
}
@include breakpoint (phone) {

}

.Icon {
	@include sprite-dir ("browsers");

	&.IE {
		@include sprite-element("ie");
	}
}